@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  font-family: Roboto, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  display: block;
  background:
    linear-gradient(rgba(14, 2, 35, 0.5), rgba(14, 2, 35, 0.5)),
    url("images/unsplash_man_w_phone.jpg");
  /* https://unsplash.com/photos/J2e34-1CVVs */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
}

header#about_header {
  position: relative;
  width: 100%;
  display: block;
  background:
    linear-gradient(rgba(14, 2, 35, 0.5), rgba(14, 2, 35, 0.5)),
    url("images/programmer.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 700px;
}

header#legal_header {
  position: relative;
  width: 100%;
  display: block;
  background:
    linear-gradient(rgba(14, 2, 35, 0.5), rgba(14, 2, 35, 0.5)),
    url("images/writing.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 700px;
}

#navbar {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 1px 1px 5px #888888;
}

nav#top-menu li {
  padding: 0 16px 0 16px;
}

nav#top-menu li a {
  display: block;
  color: black;
  text-decoration: none;
}

nav#top-menu li a:hover {
  color: #ef6c00;
}

nav#top-menu li a img {
  padding-right: 10px;
  position: relative;
  display: inline-block;
  top: 0;
  vertical-align: middle;
  bottom: 0;
}

.parent-menu {
  padding: 25px 30px 25px 30px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  list-style-type: none;
  margin: 0;
  background: #fff;
}

.upper-menu {
  line-height: 1.2em;
  vertical-align: middle;
  font-size: 1.2em;
}

.icon {
  display: inline-block;
}

.sub-menu-caption:hover .sub-menu {
  display: block;
}

.title {
  text-align: left;
  position: absolute;
  bottom: 30px;
  left: 60px;
}

.title h1 {
  font-size: 72px;
}

.title h3 {
  color: white;
}

div h3 {
  font-size: 40px;
}

section.legal h1 {
  font-size: 30px;
}

section.legal h3 {
  font-size: 20px;
}

div#page_content section.legal ul {
  list-style: inside;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

div section h4 {
  font-size: 30px;
}

.text_div p {
  font-size: 20px;
}

#features_div, #about_text {
  display: flex;
  flex-direction: column;
}

#features_div .feature_img {
  vertical-align: middle;
  align-self: center;
  height: 500px;
}

/* #about_text{
  display: flex;
  flex-direction: column;
} */
#notes_man_img {
  vertical-align: middle;
  align-self: center;
}

.content_div {
  margin-bottom: 60px;
  display: flex;
  width: 100%;
  float: left;
}

section {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
}

section#about div.text_div {
  text-align: left;
}

section#about div.social div.social-btns {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  align-items: flex-start;
  justify-content: flex-start;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: #292929;
    color: #ccc;
  }

  nav#top-menu li a {
    display: block;
    color: #ccc;
    text-decoration: none;
  }

  .text-center {
    text-align: center;
    color: #ccc;
  }

  .upper {
    color: #ccc;
  }

  h2, h3 {
    color: #ccc;
  }

  section.legal h3 {
    color: #ccc;
  }

  .parent-menu {
    padding: 25px 30px 25px 30px;
    display: flex;
    vertical-align: middle;
    align-items: center;
    list-style-type: none;
    margin: 0;
    background: #292929;
  }

  #navbar {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 1px 1px 1px #4a4a4a;
  }

  /* unvisited link */
  .legal a:link {
    color: #ccc;
  }

  /* visited link */
  .legal a:visited {
    color: #dedede;
  }

  /* mouse over link */
  .legal a:hover {
    color: #ef6c00;
  }

  /* selected link */
  .legal a:active {
    color: #c25700;
  }

  hr {
    height: 1px;
    color: #4a4a4a;
    background-color: #4a4a4a;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .content_div {
    flex-direction: column;
    width: 100%;
    /* left: 0;
    right: 0; */
    /* background-color: lightgreen; */
    /* text-align: center; */
  }



  section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
  }

  #swipe_actions_container {
    flex-direction: column;
    /* align-items: center; */
  }

  .parent-menu {
    flex-direction: column;
  }

  .parent-menu .menu-text {
    margin-top: 10px;
    display: none;
  }

  .parent-menu .menu-icon {
    cursor: pointer;
  }

  .title {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    left: 0px;
  }

  section {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
  }

  .text_div {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  footer ul {
    flex-direction: column;
  }
}

.text_div {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* #community {
  margin-left: 60px;
  margin-right: 60px;
} */
#swipe_actions_container {
  display: flex;
  flex-wrap: wrap;
}

#swipe_actions_container p {
  margin-right: 20px;
  margin-top: 0;
  line-height: 30px;
  margin-left: 5px;
}

#swipe_actions_container img {
  height: 30px;
}

#swipe_actions_container div {
  display: flex;
  height: 30px;
}

.social h5 {
  color: rgba(255, 255, 255, 0.8);
}

.social-btns a img {
  padding-left: 10px;
  padding-right: 10px;
  width: 60px;
}

div#page_content ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li a:hover {
  cursor: pointer;
}

.expand {
  display: inline-block;
}

span {
  display: inline-block;
  position: relative;
  margin: 10px;
}

.btn {
  background-color: rgba(242, 213, 26, 0.8);
  border-radius: 32px;
  padding: 2px 10px 2px 10px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}

.btn:hover {
  background-color: rgba(242, 213, 26, 1);
}

/* t r b l */
.btn-l {
  padding: 10px 20px 10px 20px;
  min-height: 50px;
}

footer ul {
  /* font-size: 0.8em; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

footer {
  margin-bottom: 20px;
  text-align: center;
  /* display: inline-block; */
}

footer li {
  padding: 10px;
}

footer li:last-child {
  border-right: none;
}

footer li a {
  color: rgb(136, 136, 136);
  text-decoration: none;
}

footer p {
  font-size: 0.8em;
  color: rgb(136, 136, 136);
}

footer li a:hover {
  color: #ef6c00;
}

/* section {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
} */
/* h2 {
  margin-top: 60px;
  font-size: 42px;
} */
h3 {
  /* font-size: 50px; */
  color: black;
}

.text-center {
  text-align: center;
}
